@import '../style/var';

$badge-size: 16px !default;
$badge-color: $white !default;
$badge-padding: 0 3px !default;
$badge-font-size: $font-size-sm !default;
$badge-font-weight: $font-weight-bold !default;
$badge-border-width: $border-width-base !default;
$badge-background-color: $red !default;
$badge-dot-color: $red !default;
$badge-dot-size: 8px !default;
$badge-font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif !default;
